@font-face {
    font-family: Inter;
    src: url('../fonts/inter/Inter-VariableFontt.ttf');
}

@font-face {
    font-family: LandasansMedium;
    src: url('../fonts/landasans/Landasans-Medium.otf');
}

@font-face {
    font-family: LandasansUltraLight;
    src: url('../fonts/landasans/Landasans-UltraLight.otf');
}

@font-face{
    font-family: HelveticaNue;
    src: url(../fonts/helvetica/HelveticaNeueLight.ttf)
}