@import './config';
@import './font';
@import './navbar';
@import './footer';
@import './utility';
@import './post';
@import './button';
@import './post-create';
@import './post-main';


*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

p{
    font-family: Inter;
}
html{
    height: 100%;
}

.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}